<a href="/">Voltar para home</a>
<h1>Cubes</h1>

<form action="/clube/save" method="post">
    <input type="text" name="nome" id="" placeholder="Digite o nome do clube" required/>
    <br>
    <input type="checkbox" name="status" placeholder="" checked />
    <label>Status: </label>
    <br>
    <br>
    <input type="submit" value="Cadastrar" />
</form>
<hr>
<h2>Lista de Clubes</h2>
<table border= "1px">
    <tr>
        <th>Id Clube</th>
        <th>Nome do Clube</th>
        <th>Status do Clube</th>
        <th>Ação</th>
    </tr>
    {{#each clubes}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nome}}</td>
        <td>{{#if this.status}} Ativo {{else}} Inativo {{/if}}</td>
        <td>
            <a href="/clube/{{this.id}}">Exibir detalhes</a> 
            <a href="/clube/delete/{{this.id}}">Excluir</a>
            <a href="/clube/edit/{{this.id}}">Editar</a>
        </td>
    </tr>
    {{/each}}
    
</table>